<div id="object-list">
  {% load bootstrap_pagination from bootstrap4 %}
  {% load render_object from evileg_core %}
  {% if object_list %}
    <div class="card-columns px-3">
      {% for object in object_list %}
        {% render_object object.get_self template_name='TEMPLATE_PREVIEW' %}
      {% endfor %}
    </div>
    <div class="mt-3">{% bootstrap_pagination object_list pages_to_show="3" url=last_question justify_content='center' %}</div>
  {% else %}
    <div class="card card-body mb-3">{{ not_found_message|default:_("Nothing found") }}</div>
  {% endif %}
</div>