{% if show %}
  {% if compact_only %}
    <a{% if item_id %} id="{{ item_id }}"{% endif %} class="{{ link_css }} mdi-24px mdi-0 p-3" href="{{ url }}"{% if toggle %} data-toggle="modal" data-target="#{{ toggle }}"{% endif %}>
      {% for counter in counters %}
        <span{% if counter.id %} id="{{ counter.id }}"{% endif %} class="{{ counter.badge_css }}{% if forloop.first %} left-offset{% endif %}" {% if counter.title %}title="{{ counter.title }}"{% endif %}>{{ counter.counter }}</span>
      {% endfor %}
    </a>
  {% elif compactable %}
    <a{% if item_id %} id="{{ item_id }}"{% endif %} class="{{ link_css }} d-none d-sm-block" href="{{ url }}"{% if toggle %} data-toggle="modal" data-target="#{{ toggle }}"{% endif %}>
      <span>{{ title }}</span>
      {% for counter in counters %}
        <span{% if counter.id %} id="{{ counter.id }}"{% endif %} class="{{ counter.badge_css }}" {% if counter.title %}title="{{ counter.title }}"{% endif %}>{{ counter.counter }}</span>
      {% endfor %}
    </a>
    <a{% if item_id %} id="{{ item_id }}"{% endif %} class="{{ link_css }} mdi-24px mdi-0 d-block d-sm-none p-3" href="{{ url }}"{% if toggle %} data-toggle="modal" data-target="#{{ toggle }}"{% endif %}>
      {% for counter in counters %}
        <span{% if counter.id %} id="{{ counter.id }}"{% endif %} class="{{ counter.badge_css }}{% if forloop.first %} left-offset{% endif %}" {% if counter.title %}title="{{ counter.title }}"{% endif %}>{{ counter.counter }}</span>
      {% endfor %}
    </a>
  {% else %}
    <a{% if item_id %} id="{{ item_id }}"{% endif %} class="{{ link_css }}" href="{{ url }}"{% if toggle %} data-toggle="modal" data-target="#{{ toggle }}"{% endif %}>
      <span>{{ title }}</span>
      {% for counter in counters %}
        <span{% if counter.id %} id="{{ counter.id }}"{% endif %} class="{{ counter.badge_css }}" {% if counter.title %}title="{{ counter.title }}"{% endif %}>{{ counter.counter }}</span>
      {% endfor %}
    </a>
  {% endif %}
  {% if json_ld %}
    <script type="application/ld+json">{{ json_ld }}</script>
  {% endif %}
{% endif %}